#first {
    margin: auto;
    text-align: center;
    justify-content: center;
    align-items: center;
}

#third {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 86px;
    width: 90%;
    background-color: white;

}

#four {
    width: 350px;
}

#second {
    background-color: beige;
    margin: auto;
    justify-content: center;
    align-items: center;
    margin-bottom: 0px;
    width: 90%;
}

.five {
    width: 250px;
    height: 48px;
    margin: 1.2px;
    padding: 25px;
    padding-top: 10px;
    text-align: center;
    background-color: #7EE5DA;
    color: black;
    font-size: small;
}